IDEA_BOUNTY_APP_NAME=idea-bounty-api
IDEA_BOUNTY_APP_ENV=development
IDEA_BOUNTY_DEBUG=false
IDEA_BOUNTY_DATABASE_URL=postgresql+psycopg://idea_bounty:idea_bounty_dev@localhost:5432/idea_bounty
IDEA_BOUNTY_TEST_DATABASE_URL=postgresql+psycopg://idea_bounty:idea_bounty_dev@localhost:5432/idea_bounty_test
